#login-form{
    max-width: 300px;

    display: inline-block;
    position: relative;
}

#login-form button{
    position: absolute;
    top: 14%;
    right: -60px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#login-form a{
    text-decoration: none;
}

#btn_logout{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#logo{
    text-decoration: none;

}

header {
    padding: 20px 0;
}
