#login-form{
    max-width: 300px;
    margin-right: 60px;
    float: right;
    display: inline-block;
    position: relative;
}

#login-form button{
    position: absolute;
    top: 14%;
    right: -60px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#login-form a{
    text-decoration: none;
}

#btn_logout{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#logo{
    text-decoration: none;

}

html, body{
    min-height: 100%!important;
}

body > div.container{
    min-height: 100%!important;
}

header {
    padding: 20px 0;
}

header .rounded-circle{
    width: 45px;
    height: 45px;
}

.nav-link:hover{
    background-color: #007BFF;
    color: white;
}

.vertical-center{
    display: flex;
    align-items: center;
}

.webcam{
    max-width: 350px;
    max-height: 350px;
}

.preloader{
    height: 23px;
    padding-left: 25px;
    display: inline-block;
    vertical-align: middle;
    background-image: url('/public/img/preloader.gif');
    background-repeat: no-repeat;
    background-size: contain;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: rgba(0,0,0,0.65);

}

.overlay:hover{
    opacity: 1;
}

.mobile-menu{
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}


.mobile-menu a{
    float: none;
    display: block;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.mobile-menu a:not(:first-child){
    display: none;
}
.mobile-menu-icon{
    display: block !important;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}

.mobile-menu-show a{
    display: block !important;
    float: none;
}

.mobile-menu a:hover{
    background-color: #ddd;
    color: black;
}

.mobile-menu a:first-child{
    background-color: #4caf50;
    color: #FFF;
}


.btn-del-img{
    right: 0.5rem;
    top: 0.5rem;
    z-index: 2;
    position: absolute;
}

.btn-del-img-sidebar{
    z-index: 2;
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
}

.like{
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.like:hover {
    font-size: 2rem;
}

.decoration-none{
    text-decoration: none !important;
}

.decoration-thumbnail img:hover{
    border-color: red;
    cursor: pointer;
}



#image-main{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

#image-decoration{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#image-main-upload{
    display: none;
}

#image-preview{
    background-image: url("/public/img/no-photo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

hr.gradient-line {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

form .preloader{
    margin-top: -5px;
    margin-left: 5px;
}

span.input-group-text{
    width: 40px;
}

